<div class="container center-align" style="margin-top: 40px;">
  <h2>This is the about page.</h2>
  <p>There is a button down below, feel free to play around with it.</p>

  <button class="waves-effect waves-light btn" {{action "toggleLogo"}} id="toggleButton" style="margin-top: 40px;">Show Logo</button>
  <div style="margin-top: 40px; display: none;" id="uwin-img">
    <img src="uwin.png">
  </div>
</div>