<div class="navbar-fixed">
  <nav class="light-blue lighten-1">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo center">S1G3 Blog App</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/posts">Posts</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav>
</div>

{{outlet}}