<div class="container" style="margin-top: 40px;">
  <h2>Contact Page</h2>
  <p>Toggle between contact and address information.</p>

  <div style="margin-top: 70px;">
    <h4>Roman Reigns</h4>
    <div>
      <a class="waves-effect waves-light btn" {{ action "contactPhone" }}><i class="material-icons left">local_phone</i>Phone</a>
    </div>
    <div style="margin-top: 40px;">
      <a class="waves-effect waves-light btn" {{ action "contactEmail" }}><i class="material-icons left">email</i>Email</a>
    </div>
  </div>

  <div style="margin-top: 40px;">
    <h3 id="label"></h3>
    <p id="info"></p>
  </div>
</div>