<div class="blue-grey intro-jumbotron valign-wrapper" id="introduction" style="height: 500px;">
  <div class="container">
    <h1 class="center-align"><span class="white-text">Hi! This is Group 3 - Section 1</span></h1>
  </div>
</div>